@font-face {
    font-family: abster;
    src: url(font/abster-webfont.woff) format('woff');
}

*{
    margin: 0;
    padding: 0;
   
}
.container {
    width: 100%;
    height: 100vh; 
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/clouds.jpg);
}
.container .header {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    /* border-bottom: 1px solid black; */
}
.container .header h1 a {
    text-decoration: none;
    color: black;
    font-family: abster;
}
.container .nav ul li {
    display: inline-block;
    margin: 0 10px;

}
.container .nav ul li a {
    text-decoration: none;
    color: black;
}
.container .nav ul li a:hover{
    color: #1fdfdf;
}

.rectangle {
    height: 480px;
    width: 480px;
    background-color: blueviolet;
    position: relative;
    transform: rotate(-45deg); 
     margin-top: 70px;
    margin-left: 500px;
    
}
.minibox {
    height: 320px;
    width: 320px;
    position: absolute;
    left: 80px;
    top: 80px;
    background-color:maroon;
}
.small1 {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: yellow;
}
.small1-1 {
    margin: 22px 22px;
    transform: rotate(-315deg);
    
}
.small2 {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 80px;
    background-color: green;
    padding: 0;
    margin: 0;
}
.small2-1 {
    margin: 22px 22px;
    transform: rotate(-315deg);
}
.small3 {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 160px; 
    background-color: blue;
}
.small3-1 {
    margin: 22px 22px;
    transform: rotate(-315deg);
}
.small4 {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 240px;
    background-color: red;
}
.small4-1 {
    margin: 22px 22px;
    transform: rotate(-315deg);
}
.small5 {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 320px;
    background-color:orange; 
}
.small5-1 {
    margin: 22px 22px;
    transform: rotate(-315deg);
}
.small6 {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0 ;
    background-color:pink; 
}
.small6-1 {
    margin: 22px 22px;
    transform: rotate(-315deg);
}
.small7 {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 80px;
    top: 0 ;
    background-color:aqua; 
}
.small7-1 {
    margin: 22px 22px;
    transform: rotate(-315deg);
}
.small8 {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 160px;
    top: 0 ;
    background-color :yellowgreen;
}
.small8-1 {
    margin: 22px 22px;
    transform: rotate(-315deg);
}
.small9 {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 240px;
    top: 0 ;
    background-color :tomato;
}
.small9-1 {
    margin: 22px 22px;
    transform: rotate(-315deg);
}
.small10 {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 320px;
    top: 0 ;
    background-color :black;
}
.small10-1 {
    margin: 22px 22px;
    transform: rotate(-315deg);
}
.small11 {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0;
    top: 0 ;
    background-color :steelblue;
}
.small11-1 {
    margin: 22px 22px;
    transform: rotate(-315deg);
}
.small12 {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color :palegoldenrod;
}
.small12-1 {
    margin: 22px 22px;
    transform: rotate(-315deg);
}
.small13 {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0;
    bottom: 80px;
    background-color :yellow;
}
.small13-1 {
    margin: 22px 22px;
    transform: rotate(-315deg);
}
.small14 {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0;
    bottom: 160px;
    background-color :pink;
}
.small14-1 {
    margin: 22px 22px;
    transform: rotate(-315deg);
}
.small15 {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0;
    bottom: 240px;
    background-color:violet;
}
.small15-1 {
    margin: 22px 22px;
    transform: rotate(-315deg);
}
.small16 {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0;
    bottom:320px;
    background-color :slategrey ; 
}
.small16-1 {
    margin: 22px 22px;
    transform: rotate(-315deg);
}
.small17 {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 80px;
    bottom: 0;
    background-color :peru ; 
}
.small17-1 {
    margin: 22px 22px;
    transform: rotate(-315deg);
}
.small18 {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 160px;
    bottom: 0;
    background-color :seagreen; 
}
.small18-1 {
    margin: 22px 22px;
    transform: rotate(-315deg);
}
.small19 {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 240px;
    bottom: 0;
    background-color :purple; 
}
.small19-1 {
    margin: 22px 22px;
    transform: rotate(-315deg);
}
.small20 {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 320px;
    bottom: 0;
    background-color :navy; 
}
.small20-1 {
    margin: 22px 22px;
    transform: rotate(-315deg);
}

  